h2{
    text-align: center;
}
.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ui-float-label {
    margin-left: 20%;
}
#loginButton {
    margin-left: 20%;
}
#forgotPasswordButton {
    margin-left: 10%;
}
