.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ui-float-label {
    margin-left: 20%;
}
#submitForgotPasswordButton {
    margin-left: 25%;
}