<div class="main-div">
    <p-card title="Forgot Password" [style]="{width: '500px'}">
      <div class="center-wrapper">
        <br>
        <span class="ui-float-label">
          <input id="username" type="text" size="30" pInputText>
          <label for="username">Username</label>
        </span>
        <br>
        <button pButton id="submitForgotPasswordButton" type="button" (click)="submitForgotPassword()" label="Send Reset Password Email" class="ui-button-success"></button>
      </div>
      <!--End center wrapper-->
      <p-footer>
        &nbsp;
      </p-footer>
    </p-card>
  </div>